*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    overflow: hidden;
}
#purefullpage{
    position: relative;
    top: 0;
    transition: all is ease;
}
.page{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
p{
    font-size: 24px;
    font-weight: bold;
}
.page:nth-child(1){
    background: yellow;
}
.page:nth-child(2){
    background:pink;
}
.page:nth-child(3){
    background: greenyellow;
}