$blue = #3190e8
$bc= #e4e4e4
$fc = #fff
//任何一个盒子肯都要利用到的css
wh($width,$height)
    width $width
    height  $height

sc($fz,$color)
    font-size $fz
    color $color

ct()
    position absolute
    top 50%
    transform translateY(-50%)
    
fj($type=space-between)
    display flex
    justify-content $type

center()
    position absolute;
    top 50%
    left 50%
    transform translate(-50%,-50%)