* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
img {
  border: 0 none;
  vertical-align: top;
}
i,
em {
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
input,
style,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: inherit;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 768px;
  font-size: 14px;
  font-family: -apple-system, Helvetica, "Microsoft YaHei", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #666;
  text-size-adjust: 100% !important;
  user-select: none;
}
input[type="text"],
textarea {
  appearance: none;
}
html {
  width: 100%;
  height: 100%;
}
.hide {
  display: none !important;
}
